.radio-group {
  &__label {
    color: $slate_500;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    margin-top: 1.2rem;
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    cursor: pointer;
  }

  &__indicator {
    @include indicator(false);
  }

  &__radio:has(input:checked) &__indicator {
    @include indicator(true);
  }

  &__radio:has(input:checked) &__indicator-circle {
    @include indicator-circle(true);
  }

  &__field {
    display: none;
  }

  &__field-label {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
