@import "./mixins/indicator";
@import "./components/colors";
@import "./components/input";
@import "./components/button";
@import "./components/radio-group";
@import "./components/checkbox-group";
@import "./components/display";
@import "./components/navigation";
@import "./components/utils";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: $slate_100;

  display: grid;
  place-content: center;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 840px;
  height: 440px;

  background-color: $white;
  border-radius: 1.2rem;

  overflow: hidden;

  &__controls {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 2.4rem;

    overflow: auto;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    margin-top: 2rem;
  }

  &__buttons-group {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    margin-top: auto;
  }

  &__buttons-group--hidden {
    display: none;
  }

  &__inputs-groups {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: 250px;

    overflow-y: auto;
  }

  &__input-group {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__result {
    display: flex;
    flex-direction: column;

    padding: 2.4rem;
    background-color: $slate_900;
    border-bottom-left-radius: 8rem;

    overflow-y: auto;
  }

  &__result-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;

    height: 100%;
  }

  &__result-display {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__result-title {
    color: $slate_100;
    font-size: 2rem;
    font-weight: 700;
  }

  &__result-message {
    color: $slate_500;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
  }

  &__title {
    color: $slate_900;
  }
}
