@import "./components/colors";

.title {
  font-size: 4rem;
  color: $slate_900;

  margin-top: 1rem;
}

.status-code {
  display: block;

  color: $lime;
  font-size: 8rem;
  letter-spacing: 1.2rem;
  text-align: center;
}

.link {
  display: block;

  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;

  color: $slate_500;
}
